
<button type="button" class="btn btn-sm btn-primary" (click)="toggleHeros()" style="margin: 5px;">Toggle Heros</button>

<div  *ngIf="toggleHerosState">
	<ul class="list-group" *ngFor="let hero of dcCharacters; let i=index" (click)="setSelectedHero(hero)">
		
		<li class="list-group-item">{{i+1}}: {{hero}}</li>	

	</ul>
	
</div>

<div [ngSwitch]="selectedHero" [ngStyle]="myStyle">
	<div *ngSwitchCase="dcCharacters[0]">Bruce Wayne</div>
	<div *ngSwitchCase="'Superman'">Clark Kent</div>
	<div *ngSwitchCase="'Wonder Woman'">Princess Diana</div>
	<div *ngSwitchCase="'Flash'">Barry Allen</div>
	<div *ngSwitchDefault>None of the hero is selected.</div>
</div>

<button class="btn btn-sm btn-outline-danger" (click)="setStyle()">Change Style</button>

<div>
	<h5>Style toggle is {{setStyleFlag}} </h5>
</div>


<h2 [ngClass]="currentCSSClass">Change CSS Class dynamically.</h2>
<button class="btn btn-warning" type="button" (click)="changeCSSClass()">Change Class</button>


<h2 [style.color]="inputColor" >Change color dynamically from ngModel.</h2>
<input type="text" [(ngModel)]="inputColor" name="" placeholder="Enter color name">

